<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %> | 看清世界眼鏡</title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <!-- 導覽列 -->
  <div class="header background-primary">
      <div class="logo">
          <a href="./index.html"><img src="./assets/images/logo.png" alt=""></a>
      </div>
      <ul>
          <li><a href="./index.html">
                  <h5>系列鏡框</h5>
              </a></li>
          <li><a href="./index.html">
                  <h5>門市據點</h5>
              </a></li>
          <li><a href="./index.html">
                  <h5>部落格</h5>
              </a></li>
          <li><a href="./faq.html">
                  <h5>常見問題</h5>
              </a></li>
      </ul>
  </div>

  <%- contents %>

  <!-- footer -->
  <div class="footer background-primary">
    <div class="container grid">
        <div class="item">
            <ul class="content text-light">
                <li>
                    <h6>首頁</h6>
                </li>
                <li>
                    <h6>系列鏡框</h6>
                </li>
                <li>
                    <h6>門市據點</h6>
                </li>
                <li>
                    <h6>部落格</h6>
                </li>
                <li>
                    <h6>常見問題</h6>
                </li>
            </ul>
            <ul class="social">
                <li><a href="https://dockorsherowlinz.github.io/layout_course/week_three_project_home_work_layout_course/index.html#">
                        <img src="./assets/images/icon-fb.svg" alt=""></a></li>
                <li><a href="https://dockorsherowlinz.github.io/layout_course/week_three_project_home_work_layout_course/index.html#">
                        <img src="./assets/images/icon-ig.svg" alt=""></a></li>
                <li><a href="https://dockorsherowlinz.github.io/layout_course/week_three_project_home_work_layout_course/index.html#">
                        <img src="./assets/images/icon-line.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="tel mb-2">
            <div class="tel-icon">
                <img src="./assets/images/icon-phone.svg" alt="">
            </div>
            <h3 class="text-light">0800-000-000</h3>
        </div>
        <div class="email">
            <div class="email-icon">
                <img src="./assets/images/icon-mail.svg" alt="">
            </div>
            <h3 class="text-light">glasses@business.com</h3>
        </div>
        <div class="divider mb-3"></div>
        <div class="copyright">
            <h6 class="text-light">Copyright © 2020 Glasses.All rights reserved.</h6>
            <ul class="provision">
                <li><a class="text-light" href="https://dockorsherowlinz.github.io/layout_course/week_three_project_home_work_layout_course/index.html#">隱私權政策</a></li>
                <li><a class="text-light" href="https://dockorsherowlinz.github.io/layout_course/week_three_project_home_work_layout_course/index.html#">服務條款</a></li>
            </ul>
        </div>
    </div>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
